import(magrittr)
importFrom(osmdata, getbb)
importFrom(osmdata, opq)
importFrom(osmdata, add_osm_feature)
importFrom(osmdata, osmdata_sp)
importFrom(geosphere, centroid)
importFrom(sp, SpatialPointsDataFrame)
export(poi.osm)
export(polygon.to.point)
